anaconda-client==1.6.5
anaconda-navigator==1.6.9
anaconda-project==0.8.0
astroid==1.5.3
astropy==2.0.2
basemap==1.0.7
bitarray==0.8.1
configparser==3.5.0
ephem==3.7.5.3
futures==3.1.1
glob2==0.5
html5lib==0.999999999
imageio==2.2.0
ipympl==0.1.1
ipython==5.4.1
ipywidgets==7.0.0
jupyter==1.0.0
jupyter-client==5.1.0
jupyter-console==5.2.0
jupyter-core==4.3.0
jupyter-dashboards==0.7.0
jupyterlab==0.31.10
jupyterlab-launcher==0.10.5
matplotlib==2.1.0
mpmath==0.19
nbconvert==5.3.1
nbformat==4.4.0
notebook==5.0.0
numpy==1.13.3
numpydoc==0.7.0
path.py==10.3.1
pathlib2==2.3.0
py==1.4.34
pycodestyle==2.3.1
scipy==0.19.1
Sphinx==1.6.3
widgetsnbextension==3.0.2
